<app-top-navigation  style="width:100%; z-index: 10000;"></app-top-navigation>
<div class="w3-display-topmiddle w3-text-white w3-hide-small" style="margin-top: 150px;">
  <h1 class="w3-center bold">QUICKHOMES.COM</h1>
  <h3 class="w3-center">Homes available in port harcourt</h3>
</div>

<div class="w3-row w3-padding-24 w3-display-bottommiddle" style="width: 100%; z-index: 3;">
  <div class="w3-col m1 l1">&nbsp;</div>
  <div class="w3-col m10 l10">
      <app-search-property-form></app-search-property-form>
  </div> 
</div>